<!DOCTYPE html>
<html lang="en">
    <head>
	    <title>a site</title>
      <style></style>
<meta name="viewport" content="width=device-width, initial-scale=1">	    
  </head>
  <body>
	  <div id="title-area"><p id="title"><a href="https://breakingsmart.com/en/season-1/">Breaking Smart</a></p><p id="description">Serendipity through technology</p></div>
      <main>
    {{content}}
      </main>
      
<div class="creds"><p>Copyright Ribbonfarm Consulting, LLC.  ©&nbsp;2021 · <a href="https://breakingsmart.com/wp-login.php">Log in</a></p></div>  
  </body>
</html>
      
