<html>
    <head>
      <style></style>
  </head>
  <body>
      <a href="/">Home</a> · <a href="/">Meta</a>
      <article>
    {{content}}
      </article>
      
      <div class="page__wrapper">
				<div class="page__footer">
					<div class="page__footer-entry">
						<a href="/contact">Contact</a>
					</div>
					<div class="page__footer-entry">
						<a href="/about">About</a>
					</div>

					<div class="page__footer-entry">
						
					</div>

					
					<div class="page__footer-entry">
						© qntm					</div>
				</div><!-- footer -->
			</div>
  </body>
</html>
      
